[Desktop Entry]
Type=Application
Name=carcal
GenericName=Packet Analyzer
Comment=A terminal packet analyzer (TUI Wireshark) built on gtcaca + libpcapng
Exec=carcal %f
Icon=carcal
Terminal=true
Categories=Network;Monitor;System;
MimeType=application/vnd.tcpdump.pcap;
Keywords=pcap;pcapng;network;packets;wireshark;tui;
